.headerNavigation {
  list-style: none;
  margin: 0 0 40px;
  padding: 0;
  float: right;
}

.headerNavigation--item {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerNavigation--link {
  text-decoration: none;
  color: var(--black);
  padding: 10px 10px;
  line-height: 40px;
}
