.image {

}

.image--fullWidth {
}

.image--hasCaption {
  position: relative;
}

.image__captionContainer {
  position: absolute;
  right: var(--base-2);
  bottom: var(--base);
  z-index: 1000;
}

.image__captionContainer--left {
  left: var(--base-2);
}

.image__caption {
  color: var(--white);
}

.image-caption:before {
  content: "©";
  display: inline-block;
  margin-right: 0.25em;
}

figure.image {
  margin: 0;
}
