.image {

}

.image--hasCaption {
    position: relative;
}

.image-captionContainer {
    position: absolute;
    right: var(--base-2);
    bottom: var(--base);
    z-index: 1000;
}

.image-captionContainer--left {
    left: var(--base-2);
}

.image-caption {
    color: var(--white);
}
.image-caption:before {
    content: "©";
    display: inline-block;
    margin-right: 0.25em;
}

figure.image{
    margin: 0;
}