base-input:before {
  content: attr(label);
}

base-input {
  display: block;
  float: left;
  width: 100%;
}

/* This is the purpose of a honey-pot field. */
.veryImportantField input,
.veryImportantField textarea {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.baseField + .baseField,
base-input + .baseField,
.baseField + base-input,
base-input + base-input {
  margin-top: var(--line-2);
}

.baseField .formFieldControl textarea {
  display: flex;
}

.baseField .formFieldControl {
  position: relative;
}

.baseField input ~ .border--effect:after,
.baseField textarea ~ .border--effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 3px;
  background: #cccccc;
  transition: 0.4s;
  transform: translateX(-50%);
}

.baseField .baseField--entered .border--effect:after {
  background: linear-gradient(300deg, rgba(75, 17, 58, 1) 0%, rgba(26, 70, 136, 1) 100%); /* w3c */
}

.baseField input:focus ~ .border--effect:after,
.baseField textarea:focus ~ .border--effect:after,
.baseField .baseField--entered .border--effect:after {
  width: 100%;
  transition: 0.4s;
}


.baseField .baseField__validation {
  line-height: 18px;
  font-size: 0.777777777777777em;
  padding-top: 2px;
  margin-bottom: -2px;
}

.baseField.baseField--invalid input,
.baseField.baseField--invalid textarea {
  background-color: #ecd8d8;
}

.image--section .baseField .border--effect {
  display: none;
}

.image--section .baseField input:focus,
.image--section .baseField textarea:focus {
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.image--section .baseField .baseField--entered input,
.image--section .baseField .baseField--entered textarea {
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

@media screen and (--screen-sm) {
  .baseField[class*="column-"],
  base-input[class*="column-"] {
    margin-top: 0;
  }
}
