/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  width: 100%;
  border: none;
  padding: calc(0.5rem + 1px) 1rem 0.5rem 1rem;
  box-sizing: border-box;
  letter-spacing: 1px;
  box-shadow: none;
  background: var(--bleached-slik);
  font-size: 1rem;
  line-height: 2em;
  font-family: var(--light) ;
  transition: background-color .6s ease, box-shadow .5s ease-in-out;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: calc(var(--line-1) * 12);
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: 0;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: var(--placeholder);
  z-index: 20;
  position: relative;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  height: 30px;
  background: white;
  width: 30px;
  margin: 0;
  box-shadow: 0px 5px 35px -5px rgba(0,0,0,0.7);
}
input[type="checkbox"]:before,
input[type="radio"]:before {
  content: '';
  display: block;position: absolute;
  height: 0;
  width: 0;
  border-radius: 50%;
  top: 50%;
  background: black;
  opacity: 0;
  left: 50%;
  transform: translate(-50% , -50%);
  transition: opacity ease-out .4s, width cubic-bezier(.05,1.06,.53,1.14) .5s, height cubic-bezier(.05,1.06,.53,1.14) .5s  ;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  outline: none;
}
input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
  opacity: 1;
  width: 15px;
  height: 15px;
}


label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

input::-webkit-input-placeholder {
  color: var(--placeholder);
  position: relative;
  z-index: 1000;
}
input:focus::-webkit-input-placeholder {
  opacity: .4;
}

/* Firefox < 19 */
input:-moz-placeholder {

  color: var(--placeholder);
  position: relative;
  z-index: 1000;
}
input:focus:-moz-placeholder {
  opacity: .4;
}

/* Firefox > 19 */
input::-moz-placeholder {

  color: var(--placeholder);
  position: relative;
  z-index: 1000;
}
input:focus::-moz-placeholder {
  opacity: .4;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {

  color: var(--placeholder);
  position: relative;
  z-index: 1000;
}
input:focus:-ms-input-placeholder {
  opacity: .4;
}
