/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.styledList {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.styledList--inline {
  margin-bottom: 15px;
}

.styledList li {
  position: relative;
  display: block;
  padding-left: 5px;
}

.styledList li + li {
  margin-top: 5px;
}

.styledList li:before {
  content: '.';
  position: absolute;
  bottom: 0;
  color: inherit;
  left: -6.5px;
  display: block;
}

.styledList--inline li {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 5px;
  padding-left: 0;
}

.styledList--inline li:first-child:before {
  display: none;
}

.styledList--inline > li:last-child {
  margin-right: 0;
}

.styledList--inline li + li {
  margin-left: 5px;
  margin-top: 0;
}

@media screen and (--screen-sm) {
  .styledList li:before {
    left: -17.5px;
  }

  .styledList--inline li {
    margin-right: 15px;
  }

  .styledList--inline li + li {
    margin-left: 15px;
  }
}

@media screen and (--screen-tb) {
  .styledList li:before {
    left: -13.5px;
  }

  .styledList--inline li {
    margin-right: 10px;
  }

  .styledList--inline li + li {
    margin-left: 10px;
  }
}

/* Lists - RTE - CI
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul.styledListCI {
  list-style: none;
  padding-left: 0;
}
styled-listCI
.styledListCI li {
  padding-left: 0.5em;
  position: relative;
}

.styledListCI li:before {
  display: inline-block;
  content: ".";
  position: absolute;
  left: 0;
  top: 0;
}

.styledListCI--gray li {
  color: var(--gray);
}

/*
–––––––––––––––––––––––––––––––––––––––––––––––––– */
