.responsiveMenuContainer {
  display: none;
}

.offCanvasContainer .responsiveMenuContainer {
  display: block;
  position: relative;
}

.offCanvasContainer .button--close {
  z-index: 11;
}

.responsiveMenu {
  margin: 0 0 0 5px;
  color: white;
}

.responsiveMenu a {
  color: white;
  text-decoration: none;
}

.page__logo--responsiveMenu {
  display: inline-block;
  height: var(--base-6);
  margin: var(--base-3) 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.page__logo--responsiveMenu img {
  height: 100%;
  width: auto;
}

@media screen and (--screen-mb) {
  .page__logo--responsiveMenu {
    height: var(--base-7);
    margin: var(--base-4) 0;
  }
}

@media screen and (--screen-sm) {
  .responsiveMenuContainer {
    display: none;
  }
}

@media screen and (--screen-tb) {
  .responsiveMenu {
    margin: 0 0 0 10px;
  }
}
