.responsive-menu-container{
  display: none;
}
.off-canvas-container .responsive-menu-container {
  display: block;
  position: relative;
}

.off-canvas-container .button-close{
  z-index: 11;
}

.responsive-menu {
  margin: 0 0 0 5px;
  color: white;
}
.responsive-menu a{
  color: white;
  text-decoration: none;
}

.page-logo--responsiveMenu {
  display: inline-block;
  height: var(--base-6);
  margin: var(--base-3) 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.page-logo--responsiveMenu img {
  height: 100%;
  width: auto;
}

@media screen and (--screen-mb) {
  .page-logo--responsiveMenu {
    height: var(--base-7);
    margin: var(--base-4) 0;
  }
}

@media screen and (--screen-sm) {
  .responsive-menu-container {
    display: none;
  }
}

@media screen and (--screen-tb) {
  .responsive-menu {
    margin: 0 0 0 10px;
  }
}