.offCanvas-container {
    position: fixed;
    z-index: 1111;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.offCanvas-container .backdrop{
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
    right: 0;
    opacity: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    transition: opacity .5s ease-out;
}
.offCanvas-container.offCanvas--shown {
    pointer-events: all;
}
.offCanvas-container.offCanvas--shown .offCanvas-content{
    transition: left .5s cubic-bezier(.59,0,.56,1);
    left: 0;
}
.offCanvas-container.offCanvas--shown .backdrop{
    opacity: 1;
}

.offCanvas-content {
    max-width: 320px;
    height: 100%;
    margin: 0;
    display: flex;
    left: -100%;
    overflow: auto;
    position: relative;
    transition: left .5s cubic-bezier(.69,-0.02,.2,1.23);
    background: white; /* w3c */
    padding: 1em;
    flex-direction: column;
}

.offCanvas-content,
.offCanvas-content label,
.offCanvas-content .label{
    color: var(--white)
}
.offCanvas-content .responsive-menu-container {flex: 1}
.offCanvas-content .responsive-menu-footer {padding-bottom: 35px; margin-top: 35px}
.offCanvas-content .responsive-menu-header{
    padding: 15px 0;
    position: relative;
}

@media screen and (--screen-sm) {
    .offCanvas-container.offCanvas--shown .offCanvas-content{
        left: -100%;
    }
    .offCanvas-container.offCanvas--shown .backdrop{ display: none}
    .offCanvas-container.offCanvas--shown {pointer-events: none;}
}