.offCanvas__container {
  position: fixed;
  z-index: 1111;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.offCanvas__container .backdrop {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  right: 0;
  opacity: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  transition: opacity .5s ease-out;
}

.offCanvas__container.offCanvas--shown {
  pointer-events: all;
}

.offCanvas__container.offCanvas--shown .offCanvas__content {
  transition: left .5s cubic-bezier(.59, 0, .56, 1);
  left: 0;
}

.offCanvas__container.offCanvas--shown .backdrop {
  opacity: 1;
}

.offCanvas__content {
  max-width: 320px;
  height: 100%;
  margin: 0;
  display: flex;
  left: -100%;
  overflow: auto;
  position: relative;
  transition: left .5s cubic-bezier(.69, -0.02, .2, 1.23);
  background: white; /* w3c */
  padding: 1em;
  flex-direction: column;
}

.offCanvas__content,
.offCanvas__content label,
.offCanvas__content .label {
  color: var(--white)
}

.offCanvas__content .responsiveMenuContainer {
  flex: 1
}

.offCanvas__content .responsiveMenuFooter {
  padding-bottom: 35px;
  margin-top: 35px
}

.offCanvas__content .responsiveMenuHeader {
  padding: 15px 0;
  position: relative;
}

@media screen and (--screen-sm) {
  .offCanvas__container.offCanvas--shown .offCanvas__content {
    left: -100%;
  }

  .offCanvas__container.offCanvas--shown .backdrop {
    display: none
  }

  .offCanvas__container.offCanvas--shown {
    pointer-events: none;
  }
}
