/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  font-size: inherit;
}

p,
.paragraph {
  font-size: var(--text-fontSize);
  line-height: var(--text-lineHeight);
  padding-top: var(--text-threshold);
  margin: 0 0 calc(var(--text-margin) - var(--text-threshold)) 0;
}

ul, ol {
  font-size: 1em;
  line-height: 2em;
  margin: var(--list-margin);
  padding: var(--list-padding);
}

blockquote {
  position: relative;
}


h1,
.headline--1 {
  font-size: var(--h1-fontSize);
  line-height: var(--h1-lineHeight);
  padding-top: var(--h1-threshold);
  margin: 0 0 calc(var(--h1-margin) - var(--h1-threshold)) 0;
  font-weight: bold;
}

h2,
.headline--2 {
  font-size: var(--h2-fontSize);
  line-height: var(--h2-lineHeight);
  padding-top: var(--h2-threshold);
  margin: 0 0 calc(var(--h2-margin) - var(--h2-threshold)) 0;
  font-weight: bold;
}

h3,
.headline--3 {
  font-size: var(--h3-fontSize);
  line-height: var(--h3-lineHeight);
  padding-top: var(--h3-threshold);
  margin: 0 0 calc(var(--h3-margin) - var(--h3-threshold)) 0;
  font-weight: bold;
}

h4,
.headline--4 {
  font-size: var(--h4-fontSize);
  line-height: var(--h4-lineHeight);
  padding-top: var(--h4-threshold);
  margin: 0 0 calc(var(--h4-margin) - var(--h4-threshold)) 0;
  font-weight: bold;
}
