.image--hasCaption
{
  position: relative;
}

.image-captionContainer
{
  bottom: var(--base);
  position: absolute;
  right: calc(2 * var(--base));
  z-index: 1000;
}

.image-captionContainer--left
{
  left: calc(2 * var(--base));
}

.image-caption
{
  color: white;
}

.image-caption:before
{
  content: '©';
  display: inline-block;
  margin-right: 0.25em;
}

figure.image
{
  margin: 0;
}
