/**
 * Base Styles
 * ––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
body {
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  font-weight: 400;
  margin: 0;
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--bright-cerulean);
}

a:hover {
  color: var(--structural-blue);
}

strong {
  font-weight: 700;
}

