/**
 * Base Styles
 *
 * html is set to 62.5% so that all the REM measurements throughout Skeleton
 * are based on 10px sizing. So basically 1.5rem = 15px :)
 * ––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
html {
  font-size: var(--text-font-size);
}

body {
  font-size: inherit; /* currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 400;
  line-height: var(--text-line-height);
  margin: 0;
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--bright-cerulean);
}

a:hover {
  color: var(--structural-blue);
}

strong {
  font-weight: bold;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: var(--container-width);
}
