/*
 * Forms
 * ––––– */
.form
{
  display: grid;
  grid-gap: var(--line);
}

.formFeedback
{
  border: 2px solid var(--steam);
  padding: 15px;
}

.formFeedback--success
{
  border-color: var(--poisonouse-pesticide);
}

.formFeedback__title
{
  margin-bottom: var(--line);
}
