/**
 * Form Styles
 * ––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.form {
  display: grid;
  grid-gap: var(--line);
}

.formFeedback {
  border: 2px solid var(--steam);
  padding: 15px;

  &__title {
    margin-bottom: var(--line);
  }

  &--success {
    border-color: var(--poisonouse-pesticide);
  }
}


