/**
 * Base Image Styles
 * ––––––––––––––––––––––––––––––––––––––––––––––--------------------------- */
.image {
  margin: 0;
  line-height: 0;

  &--hasCaption {
    position: relative;
  }

  &__captionContainer {
    bottom: var(--base);
    position: absolute;
    right: calc(2 * var(--base));
    z-index: 1000;

    &--left {
      left: calc(2 * var(--base));
    }
  }

  &__caption {
    color: white;

    &:before {
      content: '©';
      display: inline-block;
      margin-right: 0.25em;
    }
  }
}

img {
  height: auto;
  width: 100%;
}
