.media {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.media.media--desktop,
.media.media--tablet {
  display: none;
}

.media:before {
  content: '';
  display: block;
}

.media.media--1by1:before {
  padding-bottom: var(--media-1by1);
}

.media.media--3by2:before {
  padding-bottom: var(--media-3by2);
}

.media.media--4by3:before {
  padding-bottom: var(--media-4by3);
}

.media.media--16by9:before,
.media.media--default:before {
  padding-bottom: var(--media-16by9);
}

.media .ce-core-image,
.media img,
.media iframe {
  bottom: 0;
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
}

.image picture,
.image picture img {
  display: block;
  float: left;
  position: relative;
}

figure.image:after {
  display: table;
  content: '';
  clear: both;
}


@media (--screen-tablet) {
  .media.media--tablet {
    display: block;
  }

  .media.media--mobile {
    display: none
  }
}

@media (--screen-desktop) {
  .media.media--desktop {
    display: block;
  }

  .media.media--mobile,
  .media.media--tablet {
    display: none
  }
}
