/*
 * Typography
 * –––––––––– */

p {
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  margin: 0 0 var(--line);
}

p:last-child {
  margin-bottom: 0;
}

ul, ol {
  font-size: 1em;
  line-height: 2em;
}

h1, .h1 {
  color: #2ecc40;
  font-size: calc(var(--base) * 6);
  font-weight: normal;
  hyphens: auto;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h2, .h2 {
  color: #3d9970;
  font-size: calc(var(--base) * 5);
  font-weight: normal;
  hyphens: auto;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h3, .h3 {
  color: #7fdbff;
  font-size: calc(var(--base) * 4);
  font-weight: normal;
  hyphens: auto;
  line-height: 36px;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

h4, .h4 {
  color: #39cccc;
  font-size: calc(var(--base) * 3);
  font-weight: normal;
  hyphens: auto;
  line-height: 1;
  margin: 0;
  padding: 0;
}
