.visible-mobile
{
  display: block;
}

.visible-desktop
{
  display: none;
}

.image--section,
.gradient--section
{
  color: white;
}

.full-width
{
  width: 100%;
}

.display-flex
{
  display: flex;
}

.display-flex.flex--row
{
  flex-direction: row;
}

.display-flex.flex--column
{
  flex-direction: column;
}

.display-flex .align-self--end
{
  align-self: flex-end;
}

.display-flex .align-self--start
{
  align-self: flex-start;
}

/* Font Manipulation */
.headline-bold
{
  font-family: var(--bold);
}

.text--left
{
  text-align: left;
}

.text--center
{
  text-align: center;
}

.text--right
{
  text-align: right;
}

.text--uppercase
{
  text-transform: uppercase;
}

.text--bold
{
  font-family: var(--bold);
}


@media (--screen-tablet-landscape)
{
  .visible-mobile
  {
    display: none;
  }

  .visible-desktop
  {
    display: block;
  }
}

