# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

# MIA3 Coding Standards
# https://symfony.com/doc/current/contributing/code/standards.html (PHP)
# https://github.com/airbnb/javascript (JavaScript)

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[*.{php, twig, tpl}]
indent_size = 4

[Makefile]
indent_style = tab
