image: mia3/gitlab-ci:7.3

stages:
  - build
  - deploy

before_script:
  # Add the SSH key stored in SSH_PRIVATE_KEY variable to the agent store
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" > private_key
  - chmod 600 private_key
  - ssh-add private_key
  - rm private_key
  - ssh-keyscan -p 2222 'gitlab.mia3.com' >> ~/.ssh/known_hosts # gitlab server
  - ssh-keyscan -p 22 'mia3.com' >> ~/.ssh/known_hosts          # deployment target server

# Cache libraries in between jobs
cache:
  paths:
    - node_modules/
    - public/
    - vendor/
    - packages/

# Development build - with sourcemaps
build:
  stage: build
  script:
    - make install
    - make build
  only:
    - dev

# Production build - minified
build_prod:
  stage: build
  script:
    - make install
    - make build/production
  only:
    - master

deploy_int:
  stage: deploy
  script: make integration/deploy
  only:
    - dev

deploy_staging:
  stage: deploy
  script: make staging/deploy
  only:
    - master

deploy_prod:
  stage: deploy
  script: make production/deploy
  only:
    - master
  when: manual
