.DS_Store
.idea
nbproject
/var
/vendor
/public/*
!/public/.htaccess
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php.example
!/public/typo3conf/ext/
/node_modules
/public/typo3conf/ext/template/Resource/Public/Build
/*.sql
/public/typo3conf/ext/mask
/public/typo3conf/ext/vhs
