# Project root
.DS_Store
.idea/*
/*.sql
/config/sites
/node_modules
/var
/vendor
nbproject

# Web root (public)
/public/*.sql
/public/fileadmin
/public/index.php
/public/typo3
/public/typo3conf/AdditionalConfiguration.php
/public/typo3conf/PackageStates.php
/public/typo3conf/ext
/public/typo3conf/l10n
/public/typo3temp
/public/uploads
public/typo3conf/ENABLE_INSTALL_TOOL

# Exceptions
!.idea/codeStyles
