# Project Root
.DS_Store
.idea
nbproject
/var
/vendor
/node_modules
/*.sql
/**/ENABLE_INSTALL_TOOL

# Web Root
/public/fileadmin
/public/typo3/*
/public/typo3conf/ext/*
/public/index.php
/public/typo3temp/
/public/typo3conf/AdditionalConfiguration.php
/public/typo3conf/PackageStates.php
/public/typo3conf/l10n
/public/fileadmin/
/public/uploads/
/public/*.sql
/config/sites
/fileadmin
/uploads
