@import './Variables';
@import './Base/Base';
@import './Base/Button';
@import './Base/Typography';
@import './Utility/Utility';

:root {
  --base: 4px;
}

.cke_editable {
  font-weight: 400;
  line-height: var(--line-2);;
  margin: 0;
  padding: 0 15px;
}

.cke_panel_listItem p,
.cke_panel_listItem h1,
.cke_panel_listItem h2,
.cke_panel_listItem h3,
.cke_panel_listItem h4,
.cke_panel_listItem h5,
.cke_panel_listItem h6 {
  padding: 0;
}

.row {
  max-width: 1170px;
}
