@import "Variables.css";
@import "Base/Base.css";
@import "Base/Buttons.css";
@import "Base/Typography.css";
@import "Utility/Utility.css";

:root
{
  --base: 4px;
}

.cke_editable
{
  font-weight: 400;
  line-height: var(--line-2);;
  margin: 0;
  padding: 0 15px;
}

.cke_panel_listItem p,
.cke_panel_listItem h1,
.cke_panel_listItem h2,
.cke_panel_listItem h3,
.cke_panel_listItem h4,
.cke_panel_listItem h5,
.cke_panel_listItem h6
{
  padding: 0;
}

.row
{
  max-width: 1170px;
}

.ckeditor__columns-content
{
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 1px #ddd inset;
  min-height: 5em;
  padding: 0 5px;
}
