.responsive-menu-container
{
  display: none;
}

.off-canvas-container .responsive-menu-container
{
  display: block;
  position: relative;
}

.off-canvas-container .button-close
{
  z-index: 11;
}

.responsive-menu
{
  color: white;
  margin: 0 0 0 5px;
}

.responsive-menu a
{
  color: white;
  text-decoration: none;
}

.page-logo--responsiveMenu
{
  display: inline-block;
  height: calc(6 * var(--base));
  margin: calc(3 * var(--base)) 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.page-logo--responsiveMenu img
{
  height: 100%;
  width: auto;
}

@media (--screen-mobile)
{
  .page-logo--responsiveMenu
  {
    height: calc(7 * var(--base));
    margin: calc(4 * var(--base)) 0;
  }
}

@media (--screen-tablet-landscape)
{
  .responsive-menu-container
  {
    display: none;
  }
}

@media (--screen-tablet)
{
  .responsive-menu
  {
    margin: 0 0 0 10px;
  }
}
