<f:if condition="{data.tx_mask_name}">
{data.tx_mask_name}<br />
</f:if>

<f:if condition="{data.tx_mask_some_number}">
{data.tx_mask_some_number}<br />
</f:if>

<f:if condition="{data.tx_mask_some_richtext}">
<f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_some_richtext}</f:format.html><br />
</f:if>

<f:if condition="{data.tx_mask_child_content_elements}">
<f:for each="{data.tx_mask_child_content_elements}" as="data_item">
<f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject><br />
</f:for>
</f:if>

