<footer class="page-footer">
    <div class="container">
        <div class="column-left">
          <a href="/" class="companyName"><p>{settings.companyName}</p></a>
        </div>
        <div class="column-right">
            <v:menu pageUid="{settings.footerNavigationUid}" classActive="footerNavItem--active" classCurrent="footerNavItem--current">
                <ul class="footerNav list list-inline">
                    <f:for each="{menu}" as="page">
                        <li class="list-item {page.class}">
                            <a href="{page.link}" class="footerNav-link">
                                <f:render partial="MainNavigation" section="PageTitle" arguments="{page: page}"></f:render>
                            </a>
                        </li>
                    </f:for>
                </ul>
            </v:menu>
        </div>
    </div>
</footer>
