<f:render section="Menu" arguments="{_all}" />

<f:section name="Menu">
  <ul class="pageNavigation">
    <v:menu classActive="pageNavigation__item--active" classCurrent="pageNavigation__item--current">
      <f:if condition="{menu -> f:count()} > 0">
        <f:for each="{menu}" as="page">
          <li class="{page.class}">
            <a href="{page.link}" class="pageNavigation__link">
              <f:render section="PageTitle" arguments="{page: page}"></f:render>
              <div class="pageNavigation__subMenu">
                <f:render section="SubMenu" arguments="{id: page.uid}" />
              </div>
            </a>
          </li>
        </f:for>
      </f:if>
    </v:menu>
  </ul>
</f:section>

<f:section name="SubMenu">
  <v:menu pageUid="{id}" classActive="subMenu__item--active" classCurrent="subMenu__item--current">
    <ul class="subMenu">
      <f:for each="{menu}" as="page">
        <li class="subMenu__item {page.class}">
          <a href="{page.link}" class="subMenu__link">
            <f:render section="PageTitle" arguments="{page: page}"></f:render>
          </a>
        </li>
      </f:for>
    </ul>
  </v:menu>
</f:section>
<f:section name="PageTitle">
  <f:if condition="{page.nav_title}">
    <f:then>
      {page.nav_title}
    </f:then>
    <f:else>
      {page.title}
    </f:else>
  </f:if>
</f:section>
