.base-video .play-action
{
  cursor: pointer;
  left: 50%;
  max-width: 210px;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity ease 0.3s;
  z-index: 2;
}

.base-video .play-action:hover
{
  opacity: 1;
}

.base-video .play-action svg
{
  height: 100%;
  width: 100%;
}

.base-video .backdrop
{
  background: black;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity ease 0.3s;
  width: 100%;
  z-index: 1;
}

.base-video
{
  overflow: hidden;
  position: relative;
}

.base-video .player
{
  opacity: 0;
  transition: transform cubic-bezier(.19, -0.08, 0, 0.99) 0.4s, opacity ease 0.3s 0.4s;
}

.base-video.player--ready .player
{
  opacity: 1;
}

.base-video.is--playing .backdrop,
.base-video.is--playing .play-action
{
  opacity: 0;
  pointer-events: none;
}
