.project-list
{
  background : #fff;
}

.project-list__category-list
{
  list-style : none;
  padding    : 0;
  display    : flex;
  flex-wrap  : wrap;
  margin     : 0 calc(var(--line-1) * -1);
}

.project-list__category-list-item
{
  background-color : #f3f0ec;
  margin           : var(--line-1);
  padding          : var(--line-1);
}

.project-list__category-list-item:hover
{
  background : #fa9e15;
  color      : #fff;
  cursor     : pointer;
}

.project-list__result-list
{
  list-style : none;
  margin     : 0;
  padding    : 0;
  display    : block;
  columns    : 3 200px;
  column-gap : var(--line-1);
}

.project-list__result-list-item
{
  position         : relative;
  background-color : #eee;
  display          : inline-block;
  margin           : 0 0 1em;
  width            : 100%;
}

.project-list__result-list-item--a
{
  padding-bottom : calc(199 / 334 * 100%);
}

.project-list__result-list-item--b
{
  padding-bottom : calc(432 / 334 * 100%);
}

.project-list__result-list-item--c
{
  padding-bottom : calc(296 / 333 * 100%);
}

.project-list__result-list-item--d
{
  padding-bottom : calc(284 / 334 * 100%);
}

.project-list__result-list-item--e
{
  padding-bottom : calc(426 / 334 * 100%);
}

.project-list__result-list-item--f
{
  padding-bottom : calc(194 / 333 * 100%);
}

.project-list__result-list-item--g
{
  padding-bottom : calc(200 / 333 * 100%);
}

.project-list__result-list-item::before
{
  content    : '';
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  background : #aaa;
  z-index    : -1;
}

.project-list__result-list-item img
{
  width  : 100%;
  height : auto;
}
