{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Content" />

<f:section name="Configuration">
	<flux:form options="{group: 'common'}" id="grid-6-6" label="Grid: 6:6">
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column name="left" label="Left" />
				<flux:grid.column name="right" label="Right" />
			</flux:grid.row>
		</flux:grid>
	</flux:form>
</f:section>

<f:section name="Main">
	<f:if condition="{record.header}">
		<f:then>
			<div class="row">
				<div class="col-xs-12">
					<h2 class="gridheader">{record.header}</h2>
				</div>
			</div>
			<div class="row row-grid">
				<div class="col-md-6" data-mh="row-{record.uid}">
					<flux:content.render area="left" />
				</div>
				<div class="col-md-6" data-mh="row-{record.uid}">
					<flux:content.render area="right" />
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="row">
				<div class="col-md-6" data-mh="row-{record.uid}">
					<flux:content.render area="left" />
				</div>
				<div class="col-md-6" data-mh="row-{record.uid}">
					<flux:content.render area="right" />
				</div>
			</div>
			<div class="row row-grid">
				<div class="col-md-6" data-mh="row-{record.uid}">
					<flux:content.render area="left" />
				</div>
				<div class="col-md-6" data-mh="row-{record.uid}">
					<flux:content.render area="right" />
				</div>
			</div>	
		</f:else>
	</f:if>
</f:section>

<f:section name="Preview">
	<b>6:6</b>
	<flux:widget.grid />
</f:section>
