<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  xmlns:t="http://typo3.org/ns/Mia3/Template/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
	<n:excludeDisplayedNews newsItem="{newsItem}"/>
	<!-- header -->
	<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
		<f:if condition="{newsItem.mediaPreviews}">
			<!-- media preview element -->
			<f:then>
				<div class="news-list-img-wrap">
					<f:alias map="{mediaElement: '{newsItem.mediaPreviews.0}'}">
						<f:if condition="{mediaElement.originalResource.type} == 2">
							<f:render section="newsImage" arguments="{_all}" />
						</f:if>
						<f:if condition="{mediaElement.originalResource.type} == 4">
							<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
						</f:if>
						<f:if condition="{mediaElement.originalResource.type} == 5">
							<f:render section="newsImage" arguments="{_all}" />
						</f:if>
					</f:alias>
				</div>
			</f:then>
			<f:else>
				<f:if condition="{settings.displayDummyIfNoMedia}">
					<div class="news-list-img-wrap">
							<span class="no-media-element">
								<f:image class="news-list-img" src="{settings.list.media.dummyImage}" title="" alt="" width="750c" height="750"/>
							</span>
					</div>
				</f:if>
			</f:else>
		</f:if>
		<div class="news-list-item-teaser">
			<div class="news-list-item-overlay-gradient"></div>
			<div class="news-list-item-content">
				<f:if condition="{newsItem.tags}">
					<!-- Tags -->
					<span class="news-list-item-tags" itemprop="keywords">
						<f:for each="{newsItem.tags}" as="tag">
							<span class="news-list-item-tag">{tag.title}</span>
						</f:for>
					</span>
				</f:if>
				<span class="news-list-item-headline" itemprop="headline">{newsItem.title}</span>
				<span class="news-list-item-date">
					<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
						<f:format.date format="{f:translate(key:'LLL:typo3conf/ext/template/Resources/Private/Language/locallang.xlf:news.dateFormat')}">{newsItem.datetime}</f:format.date>
						<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
					</time>
				</span>
			</div>
		</div>
	</n:link>
</html>
<f:section name="newsImage">
	<f:variable name="variants" value="{t:image.VariantsToArray(file: mediaElement)}" />
	<f:if condition="{variants.news_overview}">
		<f:then>
			<div class="media media--16by9">
				<f:render partial="BaseImage" section="img" arguments="{image: mediaElement, imageClass: 'news-list-img', variant: 'news_overview'}"/>
			</div>
		</f:then>
		<f:else>
			<f:render partial="BaseImage" section="ImageWithoutLink" arguments="{image: mediaElement, imageClass: 'news-list-img', width: '750c', height: '750'}" />
		</f:else>
	</f:if>
</f:section>