<f:section name="Main">
  <f:for each="{files}" as="file">
    <f:render section="Link" arguments="{image: file}"/>
  </f:for>
</f:section>

<f:section name="Link">
  <figure class="image {f:if(condition: image.description, then:'image--hasCaption', else: '')}">
    <f:if condition="{image.link}">
      <f:then>
        <f:link.typolink parameter="{image.link}" title="{image.title}">
          <f:render section="Image" arguments="{image: image}"/>
        </f:link.typolink>
      </f:then>
      <f:else>
        <f:render section="Image" arguments="{image: image}"/>
      </f:else>
    </f:if>
    <f:if condition="{image.description}">
      <figcaption class="image__captionContainer">
        <span class="paragraph image__caption">{image.description}</span>
      </figcaption>
    </f:if>
  </figure>
</f:section>

<f:section name="Image">
  <picture>
    <f:for as="data" each="{t:imageVariantsToArray(file: image)}" key="variant">
      <f:if condition="{variant} == desktop">
        <source srcset="{f:uri.image(image:image, cropVariant:variant)}"
                media="(min-width:1200px)"/>
      </f:if>
      <f:if condition="{variant} == tablet">
        <source srcset="{f:uri.image(image:image, maxWidth:1200px,  cropVariant:variant)}"
                media="(min-width:768px)"/>
      </f:if>
      <f:if condition="{variant} == mobile">
        <source srcset="{f:uri.image(image:image, maxWidth:800px, cropVariant:variant)}"
                media="(min-width:0px)"/>
      </f:if>
    </f:for>
    <img src="{f:uri.image(image:image, cropVariant:desktop)}"
         alt="{image.alternative}"
         title="{image.title}">
  </picture>
</f:section>
