.page-header{
    background: white;
}

.page-header.header--fixed{
    padding-top: calc(var(--base) * 15);
}

.page-header.header--fixed .desktop-header{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    padding: var(--base-2) 0;
    width: 100%;
    background: white;
    z-index: 1111;
    transition: box-shadow ease-in .4s;
}

.page-header.is--scrolling .desktop-header{
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.48);
}

.desktop-header .container{
    max-width: var(--container-width);
    margin: 0 auto;

}

.desktop-header .container,
.desktop-header .container-fluid {
    width: 100%;
    display: grid;
    grid-template-columns: calc(var(--base) * 25) 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 1fr;
    grid-template-areas: "logo headerContainer";
}

.desktop-header .logo-container{
    grid-area: logo;
    justify-items: center;
    align-items: center;
}
.desktop-header .button-burger{
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.desktop-header .header-container{
    grid-area: headerContainer;
}
.desktop-header .headerNavigation{
    display: none;
}
.desktop-header .page-search-form{
    display: none;
}
.desktop-header .headerNavigation .headerNavigationItem{
    position: relative;

}
.desktop-header .logo{
  display: inline-block;
  margin-top: 18px;
  margin-bottom: -3px;
  width: 100%;
}
.desktop-header .logo img{
  float:left;
}
.desktop-header .search-toggle{
    float: right;
}
@media screen and (--screen-sm) {
    .page-header.header--fixed{
      padding-top: calc(var(--base) * 15);
    }
    .page-header.header--fixed .desktop-header{
        padding: 0.666666666em 0 0.33333333333em 0  ;
    }
    .desktop-header .container,
    .desktop-header .container-fluid {
        grid-template-columns: calc(var(--base) * 34) 1fr;
        grid-column-gap: 20px;
        grid-template-rows: 1fr;
        grid-template-areas: "logo headerContainer";
    }

    .desktop-header .button-burger{
        display:  none;
        float: none;
    }
    .desktop-header .headerNavigation{
        display: block;
    }
    .desktop-header .page-search-form{
        position: relative;
        display: block;
        grid-area: searchForm;
        margin: calc(0.3333333333333em - 1px) 0;
    }
    .desktop-header .page-search-form .baseField{
        margin: 0;
    }
    .desktop-header .page-search-form .baseField-input{
        padding-left: calc(var(--base-8) + 2px);
    }
    .desktop-header .page-search-form .search-toggle{
        position: absolute;
        padding:  0 var(--base-2);
        background: transparent;
        color: var(--orange);
        bottom: 0;
        top: 0;
        left: 0;
        margin: 0 0 2px 0;
    }

    .desktop-header .headerNavigationItem:hover .subMenu-container{
        display:block;
    }
    .desktop-header .headerNavigationItem.sub:hover .headerNavigationLink:before{
        width: 100%;
    }
    .desktop-header .logo{
      display: inline-block;
      margin-top: 9px;
      margin-bottom: -3px;
    }
    .desktop-header .search-toggle{
        margin-left: var(--base-5);
        padding: 0.66666666666em 1em;
    }
    .desktop-header .subMenu-container{
        position: absolute;
        top: calc(100% + 0.333333333em);
        left: 50%;
        transform: translate(-50%, 50px);
        opacity: 0;
        right: 0;
        pointer-events: none;
        width: calc(var(--base) * 48);
        transition: opacity .4s ease-in, transform cubic-bezier(1,-0.15,1,.81) .4s;
    }

    .desktop-header .headerNavigationItem:hover .subMenu-container{
        opacity:1;
        transform: translate(-50%, 0);
        pointer-events: all;
        transition: transform cubic-bezier(.07,1.35,.82,.97)  .4s, opacity .4s ease-in;
    }

}
