.page__layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__layout .page__mainContent {
  flex: 1 0 auto;
}

.scroll--sentinel {
  min-height: 1px;
  margin-top: -1px;
  width: 100%;
}
