.frame-type-mask_dividervideo_df1 {
  position: relative;
}

.frame-type-mask_dividervideo_df1 > .frame__header {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.dividervideoDf1 {
  position: relative;
}

.dividervideoDf1 > video {
  width: 100%;
}

.dividervideoDf1__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .5;
}

.dividervideoDf1__overlay--1 {
  background-color: var(--color-primary);
}

.dividervideoDf1__overlay--2 {
  background-color: var(--color-secondary);
}
