.frame-type-mask_dividerimage_df1 {
  position: relative;
}

.frame-type-mask_dividerimage_df1 .frame__header {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1.15;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 auto;
}

.frame-type-mask_dividerimage_df1--small .frame__header {
  font-size: 30px;
}

.frame-type-mask_dividerimage_df1 .frame__header a {
  color: inherit;
  text-decoration: none;
}

.dividerimage__row {
  display: flex;
}

.dividerimage__column {
  background-position: center;
  background-size: cover;
  width: 100%;
}

.dividerimage__column + .dividerimage__column {
  display: none;
}

.frame-type-mask_dividerimage_df1--default .dividerimage__column {
  height: 480px;
}

.frame-type-mask_dividerimage_df1--small .dividerimage__column {
  height: 240px;
}

@media (min-width: 768px) {
  .dividerimage__column {
    width: 50%;
  }

  .dividerimage__column + .dividerimage__column {
    display: block;
  }
}
