.teaserDf1
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: calc(-1 * var(--line));
}

.teaserDf1--2columns > .teaserDf1__item
{
  width: calc(50% - var(--line));
}

.teaserDf1--3columns > .teaserDf1__item
{
  width: calc(100% / 3 - var(--line));
}

.teaserDf1--4columns > .teaserDf1__item
{
  width: calc(25% - var(--line));
}

.teaserDf1__item
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: var(--line);
}

.teaserDf1__imageWrapper
{
  position: relative;
}

.teaserDf1__overlay
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in;
}

.teaserDf1__overlay:hover
{
  opacity: .5;
}

.teaserDf1__overlay--1
{
  background-color: var(--color-primary);
}

.teaserDf1__overlay--2
{
  background-color: var(--color-accent);
}
