.textonimageDf1 {
  position: relative;
  background-position: center;
  background-size: cover;
}

.textonimageDf1__text {
  padding: var(--line);
}

.textonimageDf1__media {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.textonimageDf1__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .5;
}

.textonimageDf1__overlay--1 {
  background-color: var(--color-primary);
}

.textonimageDf1__overlay--2 {
  background-color: var(--color-secondary);
}
