.tilesDf1 {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

@media(--screen-mobile) {
    .tilesDf1--2-columns > .tilesDf1__tile,
    .tilesDf1--4-columns > .tilesDf1__tile {
        flex: 0 0 50%;
    }
}

@media(--screen-tablet) {
    .tilesDf1--3-columns > .tilesDf1__tile {
        flex: 0 0 33%;
    }
}

@media(--screen-tablet-landscape) {
    .tilesDf1--4-columns > .tilesDf1__tile {
        flex: 0 0 25%;
    }
}

.tilesDf1__tile {
    width: 100%;
    position: relative;
    z-index: 0;
}

.tilesDf1__tile::before {
    display: block;
    content: "";
    padding-bottom: var(--media-1by1);
}

.tilesDf1__tile--overlay::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: block;
    width: 100%;
    height: 100%;
    background: #00000080;
    opacity: 0;
    transition: opacity .4s;
}

.tilesDf1__tile--overlay:hover::after {
    opacity: 1;
}

.tilesDf1__tile__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.tilesDf1__tile__background > .image {
    height: 100%;
}

.tilesDf1__tile__background > .image > img {
    height: 100%;
    object-fit: cover;
}

.tilesDf1__tile__contentWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 30;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: initial;
    transition: background 0.4s;
}
