.twoColumn {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 0;

  &--50-50,
  &--33-66,
  &--66-33,
  &--75-25,
  &--25-75 {
    grid-template-columns: 1fr;
    grid-template-areas: 'gl' 'gr';
  }

  &--lo-ru {
    grid-template-areas: 'gl' 'gr';
  }

  &--lu-ro {
    grid-template-areas: 'gr' 'gl';
  }

  &__left {
    grid-area: gl;
  }

  &__right {
    grid-area: gr;
  }
}

@include media-breakpoint-up(md) {
  .twoColumn {
    grid-gap: var(--line);

    &--50-50 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'gl gr';
    }

    &--33-66 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 'gl gr gr';
    }

    &--66-33 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 'gl gl gr';
    }

    &--75-25 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 'gl gl gl gr';
    }

    &--25-75 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 'gl gr gr gr';
    }
  }
}

