@import "Variables.css";
@import "Font.css";
@import 'Base/Typography.css';
@import 'Base/Buttons.css';
@import 'Base/Lists.css';
@import 'Base/Grid.css';

:root {
    --base: 4px;
}

.cke_editable {
    padding: 0 15px;
    font-size: var(--line-1); /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: var(--line-2);;
    font-weight: 400;
    margin: 0;
}

.cke_panel_listItem p,
.cke_panel_listItem h1,
.cke_panel_listItem h2,
.cke_panel_listItem h3,
.cke_panel_listItem h4,
.cke_panel_listItem h5,
.cke_panel_listItem h6 {
    padding: 0;
}

.row {
    max-width: 1170px;
}

.ckeditor__columns-content {
    box-shadow: 0 1px 1px #ddd inset;
    border: 1px solid #cccccc;
    padding: 0 5px;
    border-radius: 5px;
    background: #EFEFEF;
    min-height: 5em;
}
