@lost gutter 18px;

/* Self Clearing Goodness */
.container,
.row,
.clearfix,
.container-fluid
{
  lost-utility: clearfix;
}

.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12
{
  lost-column: 12/12;
}

@media screen and (--screen-tb)
{

  .column-1
  {
    lost-column: 1/12;
  }

  .column-2
  {
    lost-column: 2/12;
  }

  .column-3
  {
    lost-column: 3/12;
  }

  .column-4
  {
    lost-column: 4/12;
  }

  .column-5
  {
    lost-column: 5/12;
  }

  .column-6
  {
    lost-column: 6/12;
  }

  .column-7
  {
    lost-column: 7/12;
  }

  .column-8
  {
    lost-column: 8/12;
  }

  .column-9
  {
    lost-column: 9/12;
  }

  .column-10
  {
    lost-column: 10/12;
  }

  .column-11
  {
    lost-column: 11/12;
  }

  .column-12
  {
    lost-column: 12/12;
  }

  .column-offset-1
  {
    lost-offset: 1/12;
  }

  .column-offset-2
  {
    lost-offset: 2/12;
  }

  .column-offset-3
  {
    lost-offset: 3/12;
  }

  .column-offset-4
  {
    lost-offset: 4/12;
  }

  .column-offset-5
  {
    lost-offset: 5/12;
  }

  .column-offset-6
  {
    lost-offset: 6/12;
  }

  .column-offset-7
  {
    lost-offset: 7/12;
  }

  .column-offset-8
  {
    lost-offset: 8/12;
  }

  .column-offset-9
  {
    lost-offset: 9/12;
  }

  .column-offset-10
  {
    lost-offset: 10/12;
  }

  .column-offset-11
  {
    lost-offset: 11/12;
  }

  .column-offset-12
  {
    lost-offset: 12/12;
  }
}

@media screen and (--screen-sm)
{

  .column-small-1
  {
    lost-column: 1/12;
  }

  .column-small-2
  {
    lost-column: 2/12;
  }

  .column-small-3
  {
    lost-column: 3/12;
  }

  .column-small-4
  {
    lost-column: 4/12;
  }

  .column-small-5
  {
    lost-column: 5/12;
  }

  .column-small-6
  {
    lost-column: 6/12;
  }

  .column-small-7
  {
    lost-column: 7/12;
  }

  .column-small-8
  {
    lost-column: 8/12;
  }

  .column-small-9
  {
    lost-column: 9/12;
  }

  .column-small-10
  {
    lost-column: 10/12;
  }

  .column-small-11
  {
    lost-column: 11/12;
  }

  .column-small-12
  {
    lost-column: 12/12;
  }

  .column-offset-1
  {
    lost-offset: 1/12;
  }

  .column-offset-2
  {
    lost-offset: 2/12;
  }

  .column-offset-3
  {
    lost-offset: 3/12;
  }

  .column-offset-4
  {
    lost-offset: 4/12;
  }

  .column-offset-5
  {
    lost-offset: 5/12;
  }

  .column-offset-6
  {
    lost-offset: 6/12;
  }

  .column-offset-7
  {
    lost-offset: 7/12;
  }

  .column-offset-8
  {
    lost-offset: 8/12;
  }

  .column-offset-9
  {
    lost-offset: 9/12;
  }

  .column-offset-10
  {
    lost-offset: 10/12;
  }

  .column-offset-11
  {
    lost-offset: 11/12;
  }

  .column-offset-12
  {
    lost-offset: 12/12;
  }
}
