/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.styled-list
{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.styled-list--inline
{
  margin-bottom: 15px;
}

.styled-list li
{
  display: block;
  padding-left: 5px;
  position: relative;
}

.styled-list li + li
{
  margin-top: 5px;
}

.styled-list li:before
{
  bottom: 0;
  color: inherit;
  content: '.';
  display: block;
  left: -6.5px;
  position: absolute;
}

.styled-list--inline li
{
  display: inline-block;
  margin-bottom: 0;
  margin-right: 5px;
  padding-left: 0;
}

.styled-list--inline li:first-child:before
{
  display: none;
}

.styled-list--inline > li:last-child
{
  margin-right: 0;
}

.styled-list--inline li + li
{
  margin-left: 5px;
  margin-top: 0;
}

@media (--screen-sm)
{
  .styled-list li:before
  {
    left: -17.5px;
  }

  .styled-list--inline li
  {
    margin-right: 15px;
  }

  .styled-list--inline li + li
  {
    margin-left: 15px;
  }
}

@media (--screen-tb)
{
  .styled-list li:before
  {
    left: -13.5px;
  }

  .styled-list--inline li
  {
    margin-right: 10px;
  }

  .styled-list--inline li + li
  {
    margin-left: 10px;
  }
}

/* Lists - RTE - CI
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul.styled-listCI
{
  list-style: none;
  padding-left: 0;
}

.styled-listCI li
{
  padding-left: 0.5em;
  position: relative;
}

.styled-listCI li:before
{
  content: '.';
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
}

.styled-listCI--gray li
{
  color: var(--gray);
}

/*
–––––––––––––––––––––––––––––––––––––––––––––––––– */
