.visible-mobile
{
  display: block;
}

.visible-desktop
{
  display: none;
}

.image--section,
.gradient--section
{
  color: white;
}

.full-width
{
  width: 100%;
}

.display-flex
{
  display: flex;
}

.display-flex.flex--row
{
  flex-direction: row;
}

.display-flex.flex--column
{
  flex-direction: column;
}

.display-flex .align-self--end
{
  align-self: flex-end;
}

.display-flex .align-self--start
{
  align-self: flex-start;
}

/* Font Manipulation */
.headline-bold
{
  font-family: var(--bold);
}

/* Spacings - Appearance Tab */
.lineSpace-before--1
{
  margin-top: var(--line-1);
}

.lineSpace-before--2
{
  margin-top: var(--line-2);
}

.lineSpace-before--3
{
  margin-top: var(--line-3);
}

.lineSpace-before--4
{
  margin-top: var(--line-4);
}

.lineSpace-before--5
{
  margin-top: var(--line-5);
}

.lineSpace-before--6
{
  margin-top: var(--line-6);
}

.lineSpace-before--7
{
  margin-top: var(--line-7);
}

.lineSpace-before--8
{
  margin-top: var(--line-8);
}

.lineSpace-before--9
{
  margin-top: var(--line-9);
}

.lineSpace-after--1
{
  margin-bottom: var(--line-1);
}

.lineSpace-after--2
{
  margin-bottom: var(--line-2);
}

.lineSpace-after--3
{
  margin-bottom: var(--line-3);
}

.lineSpace-after--4
{
  margin-bottom: var(--line-4);
}

.lineSpace-after--5
{
  margin-bottom: var(--line-5);
}

.lineSpace-after--6
{
  margin-bottom: var(--line-6);
}

.lineSpace-after--7
{
  margin-bottom: var(--line-7);
}

.lineSpace-after--8
{
  margin-bottom: var(--line-8);
}

.lineSpace-after--9
{
  margin-bottom: var(--line-9);
}

.text--left
{
  text-align: left;
}

.text--center
{
  text-align: center;
}

.text--right
{
  text-align: right;
}

.text--uppercase
{
  text-transform: uppercase;
}

.text--bold
{
  font-family: var(--bold);
}


@media screen and (--screen-sm)
{
  .visible-mobile
  {
    display: none;
  }

  .visible-desktop
  {
    display: block;
  }
}

